<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
			<li class="logo">{{#link-to 'index'}}<img src="/assets/images/logo.jpg" />{{/link-to}}</li>
		</ul>
	</nav>
</div>
<div class="ad">
	<img src="/assets/images/testad.jpg"/>
</div>
{{outlet}}
